<org.geoserver.security.config.ExceptionTranslationFilterConfig>
  <id>2ab64b7:13b76987238:-7ff1</id>
  <name>guiException</name>
  <className>org.geoserver.security.filter.GeoServerExceptionTranslationFilter</className>
  <authenticationFilterName>form</authenticationFilterName>
  <accessDeniedErrorPage>/accessDenied.jsp</accessDeniedErrorPage>
</org.geoserver.security.config.ExceptionTranslationFilterConfig>