<jdbcusergroupservice>
  <id>44a9f52e:145177f8947:-7ff5</id>
  <name>accredito</name>
  <className>org.geoserver.security.jdbc.JDBCUserGroupService</className>
  <propertyFileNameDDL>usersddl.xml</propertyFileNameDDL>
  <propertyFileNameDML>usersdml.xml</propertyFileNameDML>
  <jndiName>java:comp/env/jdbc/destination</jndiName>
  <jndi>true</jndi>
  <creatingTables>true</creatingTables>
  <passwordEncoderName>pbePasswordEncoder</passwordEncoderName>
  <passwordPolicyName>default</passwordPolicyName>
</jdbcusergroupservice>