<passwordPolicy>
  <id>2ab64b7:13b76987238:-7fff</id>
  <name>default</name>
  <className>org.geoserver.security.validation.PasswordValidatorImpl</className>
  <uppercaseRequired>false</uppercaseRequired>
  <lowercaseRequired>false</lowercaseRequired>
  <digitRequired>false</digitRequired>
  <minLength>0</minLength>
  <maxLength>-1</maxLength>
</passwordPolicy>