<jdbcusergroupservice>
  <id>-13e4d74e:14ba75bbf9f:-8000</id>
  <name>geostore</name>
  <className>org.geoserver.security.jdbc.JDBCUserGroupService</className>
  <propertyFileNameDDL>usersddl.xml</propertyFileNameDDL>
  <propertyFileNameDML>usersdml.xml</propertyFileNameDML>
  <jndi>false</jndi>
  <driverClassName>org.postgresql.Driver</driverClassName>
  <connectURL>jdbc:postgresql://localhost:5432/geostore</connectURL>
  <userName>geostore</userName>
  <password>crypt1:NaxhKOK3WlZSslJqLT8932YHiYOhO9lU</password>
  <creatingTables>false</creatingTables>
  <passwordEncoderName>digestPasswordEncoder</passwordEncoderName>
  <passwordPolicyName>default</passwordPolicyName>
</jdbcusergroupservice>