<jdbcroleservice>
  <id>44a9f52e:145177f8947:-7ff4</id>
  <name>accreditoroles</name>
  <className>org.geoserver.security.jdbc.JDBCRoleService</className>
  <propertyFileNameDDL>rolesddl.xml</propertyFileNameDDL>
  <propertyFileNameDML>rolesdml.xml</propertyFileNameDML>
  <jndiName>java:comp/env/jdbc/destination</jndiName>
  <jndi>true</jndi>
  <adminRoleName>SUPERUSER_SIIG</adminRoleName>
  <groupAdminRoleName>SUPERUSER_SIIG</groupAdminRoleName>
  <creatingTables>false</creatingTables>
</jdbcroleservice>